DJANGO_SECRET_KEY=change-this-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=gammes_maintenance
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173
APP_BASE_URL=http://localhost:5173
TIME_ZONE=Europe/Paris
